{% extends "main.html" %}

{%block maincontent %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="row-fluid">
            {% module Template("map.html") %}
          </div>
          <div>
            {% module Template("globe-modal.html") %}
	  </div>
          <div class="entitylist">
          {% module Template("entitylist.html", users=users, hashtags=hashtags) %}
          </div> <!-- /entity-list -->
        </div> <!-- /span2 -->
        <div class="span9" id="top-tweets">
          <div class="row-fluid">
            <ul class="nav nav-pills green" id="entity-content-buttons">
              <li class="active"><a data-toggle="pill">Top tweets</a></li>
              <li><a data-toggle="pill">Live feed</a></li>
              <li><a data-toggle="pill">User profile</a></li>
            </ul>
          </div>
          <div class="row-fluid" id="tweetlist">
            {% module Template("tweetlist.html", tweets=tweets) %}
          </div>
        </div> <!-- /span10 -->
      </div> <!-- /row-fluid -->
    </div> <!-- /container-fluid -->

  </body>
</html>
{% end %}

{% block javascript %}
<script>

$.urlParam = function(name){
    var results = new RegExp('[\\?&amp;]' + name + '=([^&amp;#]*)').exec(window.location.href);
    if(results == null){
        return null;
    } else {
        return results[1] || 0;
    }
}

$('#top-hashtags').bind('click', function(){
    $('#hashtag-list').attr('class','');
    $('[id^=entity-hashtag]:first').trigger('click');
});

$('#top-users').bind('click', function(){
    $('#user-list').attr('class','');
    $('[id^=entity-user]:first').trigger('click');
});

$('[id^=entity-hashtag]').bind('click', function(){
    var reg = /entity-hashtag-(\w+)/;
    var elementid = $(this).attr('id');
    var m = reg.exec(elementid);
    var entity = m[1];
    var code = $.urlParam('code');
    if(!code){
       code = "USA";
    }
    var url = "http://" + document.domain + ":8888/toptweets?entitytype=ht&entity=" + entity + "&code=" + code;
    $("#tweetlist").load(url);
});

$('[id^=entity-user]').bind('click', function(){
    var reg = /entity-user-(\w+)/;
    var elementid = $(this).attr('id');
    var m = reg.exec(elementid);
    var entity = m[1];
    var code = $.urlParam('code');
    if(!code){
       code = "USA";
    }
    var url = "http://" + document.domain + ":8888/toptweets?entitytype=um&entity=" + entity + "&code=" + code;
    $("#tweetlist").load(url);
});
</script>
{% end %}
